.RegLog-Container{
    height: 200vh;
    display: flex;
    justify-content: space-around;
}
.RegLog-Hero-Container{
    background-image: url('https://images.unsplash.com/photo-1497515098781-e965764ab601?ixlib=rb-1.2.1&auto=format&fit=crop&w=1308&q=80');
    height: 150vh;
    width: 100vw;
    top:0px;
    background-size: cover;
    display: flex;
}
.Register-Container{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Register-Container h6{
    color: white;
}
.spacer{
    height: 20vh;
}
.Login-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Empty-Conditional{
    display: none;
}
.RegLog-Sub-Container{
    display: flex;
}
.RegLog-Center{
    width: 25vw;
}
@media(max-width: 415px){
    .RegLog-Hero-Container{
        background-image: url('https://images.unsplash.com/photo-1490299501812-a0852e08dd90?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80');
        background-size: cover;
        height: 100vh;
        width: 100vw;
    }
    .spacer{
        height: 40%;
    }
    .Register-Container{
        position: relative;
        top: 20%;
    }
}